body{
  background-color: #1d1e2c;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
#defaultCanvas0{
  background-color: #555;

}
#mapMkrCol{
  background-color: #aaa;
}
.mapMkrColItem{
    margin: 10px;
}
.mapMkrTbBtn{
  display: block;
}
#mapMkrSelImg{
    height: 128px;
    margin: 16px;
}

#mapMkrSelImgPnl{
  text-align: center;
  background-color: #aaa;

}

.hoverPointer:hover{
    cursor: pointer;
}

.mapMkrHide{
display: none;
}

.mapMkrShow{
    display: block;
}

i.material-icons{
  font-size: 12pt;
}
.hide{
  visibility: hidden;
}
.tile-item {
  padding: 0;
  margin: 0;
}
.tile-item .item-inner {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px 10px 0;
  margin: 0 20px 20px 0;
  position: relative;
}
.tile-item img {
text-align: center;
}
.tile-item h5 {
  background: #fff;
  margin: 0;
  padding: 10px 0;
  font-weight: 700;
  font-size: 14px;
  color: #2c3e50;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media print {
  .noPrint {
    display: none;
  }
}
